<div class="panel panel-default" ng-init="addPrescription()">
    <div class="panel-heading">
        <h3 class="panel-title">Enter a new Prescription</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="container wrapper">
                <div class="row cart-head">
                    <div class="container">
                        <div class="row">
                            <p></p>
                        </div>
                        <div class="row">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="row cart-body">
                    <form class="form-horizontal" method="post" action="">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                            <!--REVIEW ORDER-->
                            <div class="panel panel-info">
                                <div class="panel-heading"><span><i class="glyphicon glyphicon-hand-down"></i></span> Secure Payment</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Doctor Id:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_number" value=""/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Doctor Name:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_number" value="" disabled/></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Hospital ID:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_number" value=""/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Description:</strong></div>
                                        <div class="col-md-12"><textarea class="form-control" rows="5" id="description"></textarea></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Drug Name01:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_code" value=""/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Drug Name02:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_code" value=""/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Drug Name03:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_code" value=""/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Drug Name04:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_code" value=""/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Drug Name05:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_code" value=""/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Drug Name06:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_code" value=""/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Drug Name07:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_code" value=""/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Drug Name08:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_code" value=""/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Drug Name09:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_code" value=""/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Drug Name10:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_code" value=""/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Status:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_code" value="notissued" placeholder="notissued" disabled/></div>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-submit-fix btn pull-right">Submit</button>
                                </div>
                            </div>

                            <!--REVIEW ORDER END-->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                            <!--PLACE BOOKING METHOD-->
                            <div class="panel panel-info">
                                <div class="panel-heading"><span><i class="glyphicon glyphicon-user"></i></span> Patient Details</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Patient ID:</strong></div>
                                        <div class="col-md-10"><input type="text" class="form-control" name="car_number" value="" placeholder="Enter NIC"/></div>
                                           <div class="col-md-2"> <button type="button" class="btn btn-info btn btn-primary btn-md">Find
                                           </button></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Patient Name:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_number" value="" disabled/></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Age:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_number" value="" disabled/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Blood Group:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_code" value="" disabled/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Gender:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_code" value="" disabled/></div>
                                    </div>

                                        <div class="form-group">
                                            <div class="col-md-6"><strong>Phone Number:</strong></div>
                                            <div class="col-md-6"><input type="text" class="form-control" name="car_code" value="" disabled/></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6"><strong>Email:</strong></div>
                                            <div class="col-md-6"><input type="text" class="form-control" name="car_code" value="" disabled/></div>
                                        </div>
                                </div>
                            </div>
                            <!--PLACE BOOKING METHOD END-->
                        </div>
                    </form>
                </div>
                <div class="row cart-footer">

                </div>
            </div>
        </div>
    </div>
</div>