<div class="panel panel-default" ng-init="addPrescription()">
    <div class="panel-heading">
        <h3 class="panel-title">Enter a new Prescription</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="container wrapper">
                <div class="row cart-head">
                    <div class="container">
                        <div class="row">
                            <p></p>
                        </div>
                        <div class="row">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="row cart-body">
                    <form class="form-horizontal" method="post" action="">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                            <!--REVIEW ORDER-->

                            <!--REVIEW ORDER END-->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                            <!--PLACE BOOKING METHOD-->
                            <div class="panel panel-info">
                                <div class="panel-heading"><span><i class="glyphicon glyphicon-hand-down"></i></span> Add Booking</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Customer ID:</strong></div>
                                        <div class="col-md-12"><input type="text" class="form-control" name="car_number" value="" placeholder="944656218v" disabled/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Theater Name:</strong></div>
                                        <div class="col-md-12">
                                            <select id="CustomerID" name="CreditCardType" class="form-control">
                                                <option value="" disabled selected>Select a theater</option>
                                                <option value="DR.NO">DR.NO</option>
                                                <option value="Plaza">Plaza</option>
                                                <option value="Tower">Tower </option>
                                                <option value="Tivoli">Tivoli </option>
                                                <option value="York">York </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Movie Name:</strong></div>
                                        <div class="col-md-12">
                                            <select id="MovieID" name="CreditCardType" class="form-control">
                                                <option value="" disabled selected>Select a movie</option>
                                                <option value="The Godfather">The Godfather</option>
                                                <option value="American Beauty">American Beauty</option>
                                                <option value="The Silence of the Lambs">The Silence of the Lambs</option>
                                                <option value="The Pianist">The Pianist</option>
                                                <option value="Léon: The Professional">Léon: The Professional</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Number of seats:</strong></div>
                                        <div class="col-md-12"><input type="number" min="1" class="form-control" name="car_number" value="" placeholder="Select Quantity"/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Snack and Beverage package:</strong></div>
                                        <div class="col-md-12"><input type="number" min="0" class="form-control" name="car_code" value="" placeholder="Select Quantity"/></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Date:</strong></div>
                                        <div class="col-md-12"><input type="date" min="0" class="form-control" name="car_code" value="" /></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <strong>Select Show Time</strong>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Morning Show<p></p>
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Afternoon Show<p></p>
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option2"> Evening Show<p></p>
                                            </label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input">
                                                Reserve the Restaurant
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <button type="submit" class="btn btn-primary btn-submit-fix">Place Order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--PLACE BOOKING METHOD END-->
                        </div>
                    </form>
                </div>
                <div class="row cart-footer">

                </div>
            </div>
        </div>
    </div>
</div>