<div class="container" ng-init="getUsers()">
    <div class="row">
        <div class="page-header">
            <h2>Pharm Deus</h2>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Hello again <span class="glyphicon glyphicon-user pull-right"></span> </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control"  " ng-model="uname">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control"    ng-model="pwd">
                        </div>
                        <div class="form-group">
                            <button  class="btn btn-success" ng-click="signin('admin','admin')">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>