<div class="container">
    <div class="row">
        <div class="page-header" ng-init="loadData(); getDrugs(); getPrescriptions(); getpatients()">
            <h3>Pharm Deus - Dashboard <span class="pull-right">Hello!</span></h3>
        </div>
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-warning pull-left" ng-click="redirectPharmacy()">View Pharmacy</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning pull-left" ng-click="redirectInventory()">View inventory</a>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"><a class="btn btn-success pull-right" ng-click="redirectAddNewUser()">Add new user</a>
            </div>
        </div>
        <hr>
        <div class="col-md-12 sm-6">
            <div class="row">
                <div class="col-md-4 sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Total Number of Drugs</div>
                        <div class="panel-body text-center">
                            <h3>{{drugs.length}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Total Number of Prescriptions</div>
                        <div class="panel-body text-center">
                            <h3>{{prescriptions.length}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Total Number of Patient</div>
                        <div class="panel-body text-center">
                            <h3>{{patients.length}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Drug Stock Stat</div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar" chart-data="dataDrugs" chart-labels="labelsDrugs" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Patient Per day</div>
                <div class="panel-body">
                    <canvas id="pie" class="chart chart-pie" chart-data="dataPatient" chart-labels="labelsPatient" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Out of Stock Drugs </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" ng-model="searchString" ng-repeat="drug in drugsOutofStockDrugs" class="list-group-item">{{drug.drugname}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Drug Stock Stat</div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>