<div class="container">
  <div class="page-header">
    <h4>Edit Drug detail</h4>
  </div>
  <div class="row">
    <div class="col-md-2"><a href="#!/drugs" class="btn btn-default">Go Back</a></div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Update Drugs</h3>
        </div>
        <div class="panel-body">
          <form ng-init="getDrug()" ng-submit="updateDrug()">
            <div class="form-group">
              <label>Drug Name</label>
              <input type="text" class="form-control" name="title" ng-model="drug.drugname" placeholder="Drug Name">
            </div>
            <div class="form-group">
              <label>Drug Category</label>
              <select class="form-control" name="singleSelect" ng-model="drug.drugcategory">
            <option value='' disabled selected>Select the drug category</option>
            <option value='Narcotics'>Narcotics</option>
            <option value='Drugs used in the treatment of injections'>Drugs used in the treatment of injections</option>
            <option value='Drugs used in the treatment of cardiovascular system'>Drugs used in the treatment of cardiovascular system</option>
            <option value='Drugs acting on the central nervous system'>Drugs acting on the central nervous system</option>
            <option value='Drugs affecting nutrions and blood'>Drugs affecting nutrions and blood</option>
            </select>
            </div>
            <div class="form-group">
              <label>Quantity</label>
              <input type="number" class="form-control" name="publisher" ng-model="drug.quentity" min=0 placeholder="Quentity">
            </div>
            <div class="form-group">
              <label>Unit Price</label>
              <input type="text" class="form-control" name="author" ng-model="drug.unitprice" placeholder="Unit price">
            </div>
            <div class="form-group">
              <label>Supplier Name</label>
              <input type="text" class="form-control" name="pages" ng-model="drug.supliername" placeholder="Supplier Mail">
            </div>
            <div class="form-group">
              <label>Supplier Mail</label>
              <input type="text" class="form-control" name="pages" ng-model="drug.supplieremail" placeholder="Supplier e-mail">
            </div>

            <button type="submit" class="btn btn-success pull-right">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>