<!--<div id="mySidenav" class="sidenav">
   <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
   <a href="#/inventry">Home</a>
   <a href="#/addNewDrugs">Add a new drug</a>
   <a href="#/drugs">View</a>
   <a href="#">Contact</a>
   </div>
   <span style="font-size:30px;cursor:pointer" ng-click="openNav()">&#9776;</span>-->
<div class="container">
   <div class="page-header">
      <h4>Drugs list - Inventory</h4>
   </div>
   <div class="row ">
      <div class="col-md-3 ">
         <h6><font color="red">*Less than ReOrder Level</font></h6>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-5 pull-right">
         <a href='#!/mail' class="btn btn-success"><span class="glyphicon glyphicon-envelope"></span>Sent Mails</a>
         <a href='#!/drugs/add' class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add new drug</a>
         <a href='#!/drugs/add/batch' class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add new Batch</a>
      </div>
   </div>
   <hr>
   <div class="row">
   <div class="col-md-12">
      <div class="panel panel-default" ng-init="getDrugs()">
         <div class="panel-heading"><strong>List of drugs in the stock</strong></div>
         <div class="panel-body">
            <table class="table table-striped">
               <thead>
                  <tr>
                     <th>Drug Name</th>
                     <th>Drug Category</th>
                     <th>Unit Price</th>
                     <th>Quantity</th>
               </thead>
               <tbody>
                  <tr ng-repeat="drug in drugs">
                     <td>{{drug.drugname}}</td>
                     <td>{{drug.drugcategory}}</td>
                     <td>{{drug.unitprice}}</td>
                     <td ng-show="drug.quentity <= drug.minorder" ><strong><font color="red">{{drug.quentity}}</font></strong></td>
                     <td ng-show="drug.quentity > drug.minorder">{{drug.quentity}}</td>
                     <!--<div ng-show="drug.quentity > drug.minorder">	<td>{{drug.quentity}}</td> </div> -->
                     <td><a href="#!/drugs/mail/{{drug._id}}" class="btn btn-warning">Place Order</a></td>
                     <td><a href="#!/drugs/details/{{drug._id}}" class="btn btn-primary">Details</a></td>
                     <!--<td><a href="#!/drugs" class="btn btn-default" ng-click="removeDrug(drug._id)">Delete</a></td>-->
                     <td><button class="btn btn-default" ng-click="removeDrug(drug._id)">Delete</button></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      </div>
   </div>
</div>