<div class="container">
	<div class="page-header">
		<h4>Place a order</h4>
	</div>
	<div class="row">
		<div class="col-md-2"><a href="#!/drugs" class="btn btn-default">Go Back</a></div>
		<div class="col-md-8">
			<div class="panel panel-default" ng-init="getDrug()">
				<div class="panel-heading">
					<h3>E-mail</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3"><b>From</b></div>
						<div class="col-md-8"><input type="text" name="" class="form-control" value="chiefpharmacist01@gmail.com" readonly="true"></div>
					</div><br>
					<div class="row">
						<div class="col-md-3"><b>To</b></div>
						<div class="col-md-8"><input type="text" name="" class="form-control" value="{{drug.supplieremail}}" readonly="true"></div>
					</div><br>
					<div class="row">
						<div class="col-md-3"><b>Subject</b></div>
						<div class="col-md-8"><input ng-model='subject' type="text" name="" class="form-control" value="Drug Reorder Request For {{drug.drugname}}"
							 readonly="true"></div>
					</div><br>
					<div class="row">
						<div class="col-md-3"><b>Message</b></div>
						<div class="col-md-8">
							<textarea rows="15" cols="50" class="form-control" ng-model='message'>

				</textarea>
						</div>
					</div>
					<button class="btn btn-success" ng-click="sendEmail(drug.supplieremail,subject,message)">Send</button>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>