<div class="panel panel-default" ng-init="getPrescriptions()">
    <div class="panel-heading">
        <h3 class="panel-title">Prescription Details</h3>
    </div>
    <div class="panel-body">
        <div class="row">

                <div class="col-md-6">
                    <div class="col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="well well-sm">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTI2NTY0NzA4MF5BMl5BanBnXkFtZTYwMjE1MDE0._V1_UX214_CR0,0,214,317_AL_.jpg" alt="" class="img-rounded img-responsive" />
                                        </div>
                                        <div class="col-sm-6 col-md-8">
                                            <h4>
                                                Bhaumik Patel</h4>
                                            <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                                            </i></cite></small>
                                            <p>
                                                <i class="glyphicon glyphicon-envelope"></i>email@example.com
                                                <br />
                                                <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                                                <br />
                                                <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
                                            <!-- Split button -->
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary">
                                                    Social</button>
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span><span class="sr-only">Social</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Twitter</a></li>
                                                    <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                                    <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Github</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Prescription</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form ng-submit="addBooking()">
                                        <div class="form-group" >
                                            <label>Booking ID</label>
                                            <input type="text" class="form-control" ng-model="booking.bookingID" placeholder="Booking ID">
                                        </div>
                                        <div class="form-group">
                                            <label>User Name</label>
                                            <input type="text" class="form-control" ng-model="booking.userName" placeholder="User Name">
                                        </div>

                                        <div class="form-group">
                                            <label>Time Slot</label>
                                            <select ng-model="booking.timeSlot" class="form-control">
                                                <option value="1.30 - 3.00">1.30 - 3.00</option>
                                                <option value="4.00 - 5.00">4.00 - 5.00</option>
                                                <option value="6.00 - 8.00">6.00 - 8.00</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Seat No</label>
                                            <input type="text" class="form-control" ng-model="booking.seatNo" placeholder="Seat No">
                                        </div>

                                        <div class="form-group">
                                            <label>Meal</label>
                                            <select ng-model="booking.meal" class="form-control">
                                                <option value="Burger + Coke">Burger + Coke</option>
                                                <option value="PopCorn + Coke">PopCorn + Coke</option>
                                                <option value="Burger">Burger</option>
                                                <option value="Coke">Coke</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Movie ID</label>
                                            <input type="text" class="form-control" ng-model="booking.movieID" placeholder="Movie ID">
                                        </div>

                                        <div class="form-group">
                                            <label>Theater ID</label>
                                            <input type="text" class="form-control" ng-model="booking.theaterID" placeholder="Theater ID">
                                        </div>

                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
