<div class="panel panel-default" ng-init="getPrescription() ; getPatientsByNIC()">
    <div class="panel-heading">
        <h3 class="panel-title">Prescription Details</h3>
    </div>
    <div class="panel-body">
        <div class="row">

                <div class="col-md-6">
                    <div class="col-md-12">
                    <div class="container" ng-init="">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="well well-sm">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <img src="{{patient[0].url}}" alt="" class="img-rounded img-responsive" />
                                        </div>
                                        <div class="col-sm-6 col-md-8">
                                            <h4>{{patient[0].name}}</h4>
                                            <p>
                                                <i class="glyphicon glyphicon-user"></i>{{[patient[0].age]}}
                                                <br />
                                                <i class="glyphicon glyphicon-tint"></i>{{patient[0].bloodgroup}}</a>
                                                <br />
                                                <i class="glyphicon glyphicon-triangle-right"></i>{{patient[0].gender}}
                                                <br />
                                                <i class="glyphicon glyphicon-credit-card"></i>{{patient[0].patientnic}}
                                                <br />
                                                <i class="glyphicon glyphicon-phone-alt"></i>{{patient[0].contactnumber}}
                                                <br />
                                                <i class="glyphicon glyphicon-envelope"></i>{{patient[0].email}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Prescription</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form ng-submit="addBooking()">
                                        <div class="form-group" >
                                            <label>Prescription ID</label>
                                            <input type="text" class="form-control" ng-model="prescription._id" placeholder="PresID" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Drug 1</label>
                                            <input type="text" class="form-control" ng-model="prescription.drug1" placeholder="Drug1" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Drug 2</label>
                                            <input type="text" class="form-control" ng-model="prescription.drug2" placeholder="Drug2" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Drug 3</label>
                                            <input type="text" class="form-control" ng-model="prescription.drug3" placeholder="Drug3" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Drug 4</label>
                                            <input type="text" class="form-control" ng-model="prescription.drug4" placeholder="Drug4" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Drug 5</label>
                                            <input type="text" class="form-control" ng-model="prescription.drug6" placeholder="Drug6" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Drug 6</label>
                                            <input type="text" class="form-control" ng-model="prescription.drug6" placeholder="Drug6" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Drug 7</label>
                                            <input type="text" class="form-control" ng-model="prescription.drug7" placeholder="Drug7" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Drug 8</label>
                                            <input type="text" class="form-control" ng-model="prescription.drug8" placeholder="Drug8" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Drug 9</label>
                                            <input type="text" class="form-control" ng-model="prescription.drug9" placeholder="Drug9" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Drug 10</label>
                                            <input type="text" class="form-control" ng-model="prescription.drug10" placeholder="Drug10" disabled>
                                        </div>

                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
