<a href="#!/prescriptions">Go Back</a>
<div class="panel panel-default" ng-init="getPrescription()">
    <div class="panel-heading">
        <h3 class="panel-title"> <b> {{prescription.name}} : {{prescription.patientnic}}<b class="pull-right">Age:{{prescription.age}}</b></b> </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <b class="form-control">Prescribed doctor : {{prescription.doctorname}}<b class="pull-right">Reg no:({{prescription.doctorid}})</b></b>
                </div>

                <div class="col-md-6">
                    <b>Drugs Prescribed : </b><br>
                    {{prescription.drug1}}<br>{{prescription.drug2}}<br>{{prescription.drug3}}<br>{{prescription.drug4}}<br>{{prescription.drug5}}<br>{{prescription.drug6}}<br>{{prescription.drug7}}<br>{{prescription.drug8}}<br>{{prescription.drug9}}<br>{{prescription.drug10}}<br>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <b class="form-control pull-right">Hospital ID :{{prescription.hospitalid}}</b>
                </div>
            </div>
            <div class="col-md-6">
                <br><b>Description : </b><br>{{prescription.detail}}
            </div>
        </div>
    </div>
</div>
