<div class="container" ng-init="getSuccessPrescriptionByID()">
    <a href="#!/notIssuedPrescriptions" class="btn btn-success pull-right">Back</a>
        <div class="container center-block">
        <img src="http://lankaonglobe.files.wordpress.com/2013/05/srilankagovernmentlogo.jpg?w=115" >
        </div>
    <div class="container">



        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Drug Name</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{successPrescription.drug1}}</td>
                <td>{{successPrescription.drugQty1}}</td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>{{successPrescription.drug2}}</td>
                <td>{{successPrescription.drugQty2}}</td>

            </tr>
            <tr>
                <th scope="row">3</th>
                <td>{{successPrescription.drug3}}</td>
                <td>{{successPrescription.drugQty3}}</td>

            </tr>
            <tr>
                <th scope="row">4</th>
                <td>{{successPrescription.drug4}}</td>
                <td>{{successPrescription.drugQty4}}</td>

            </tr>
            <tr>
                <th scope="row">5</th>
                <td>{{successPrescription.drug5}}</td>
                <td>{{successPrescription.drugQty5}}</td>

            </tr>
            <tr>
                <th scope="row">6</th>
                <td>{{successPrescription.drug6}}</td>
                <td>{{successPrescription.drugQty6}}</td>

            </tr>
            <tr>
                <th scope="row">7</th>
                <td>{{successPrescription.drug7}}</td>
                <td>{{successPrescription.drugQty7}}</td>

            </tr>
            <tr>
                <th scope="row">8</th>
                <td>{{successPrescription.drug8}}</td>
                <td>{{successPrescription.drugQty8}}</td>

            </tr>
            <tr>
                <th scope="row">9</th>
                <td>{{successPrescription.drug9}}</td>
                <td>{{successPrescription.drugQty9}}</td>

            </tr>
            <tr>
                <th scope="row">10</th>
                <td>{{successPrescription.drug10}}</td>
                <td>{{successPrescription.drugQty10}}</td>

            </tr>
            </tbody>
        </table>


        <div class="container center-block">
            <p>{{successPrescription.detail}}</p>
        </div>

        </div>
    </div>


</div>