<div class="container" ng-init="getSuccessPrescriptionByID()">
        <div class="container center-block">
        <img src="http://lankaonglobe.files.wordpress.com/2013/05/srilankagovernmentlogo.jpg?w=115" >
        </div>
    <div class="container">



        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Drug Name</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{successPrescription.drug1}}</td>
                <td>{{successPrescription.drugQty1}}</td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>

            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>

            </tr>
            </tbody>
        </table>




        </div>
    </div>


</div>