<div class="container" ng-init="getPrescriptions()">
    <div class="page-header">
        <h4>Recently Issued Prescriptions</h4>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="col-md-4" ng-repeat="prescription in prescriptions">
            <div class="panel panel-success">
                <div class="panel-heading"><b><h5>{{prescription.patientnic}}</h5></b></div>
                <div class="panel-body">
                    <div class="row-eq-height">
                        <label> <h6><b>Name:{{prescription.name}}</b></h6></label>
                        <label> <h6>Date:{{prescription.date}}</h6></label>
                        <label> <h6>Doctor:{{prescription.doctorname}}:{{prescription.doctorid}}</h6></label>
                    </div>
                </div>
                <div class="panel-footer"><a class="btn btn-primary" href="#!/prescriptions/details/{{prescription._id}}">More</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>