<div class="container" ng-app="sortApp" ng-init="getNotIssuedPrescriptions()">
    <!--
      <div class="alert alert-info">
        <p>Sort Type: {{ sortType }}</p>
        <p>Sort Reverse: {{ sortReverse }}</p>
        <p>Search Query: {{ searchFish }}</p>
      </div>
    -->
    <div>
        <acme-navbar></acme-navbar>
    </div>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon " ><i class="glyphicon glyphicon-search"></i></div>
                <input type="text" class="form-control" placeholder="Search" ng-model="searchFish">
            </div>
        </div>
    </form>

    <div class="panel panel-primary">
        <div class="panel-heading">Temp table for search function</div>
        <table class="table table-bordered table-striped">

            <thead>
            </thead>

            <tbody>
            <tbody>
            <tr ng-repeat="b in issuedPrescriptions | orderBy:sortType:sortReverse | filter:searchFish"  >
                <td>{{b.name}}</td>
                <td>{{b.doctorid}}</td>
                <td>{{b.isissued}}</td>
            </tr>
            </tbody>
            </tbody>

        </table>


    </div>