<div class="container" ng-app="sortApp" ng-init="getNotIssuedPrescriptions()">
    <!--
      <div class="alert alert-info">
        <p>Sort Type: {{ sortType }}</p>
        <p>Sort Reverse: {{ sortReverse }}</p>
        <p>Search Query: {{ searchFish }}</p>
      </div>
    -->
    <div>
        <acme-navbar></acme-navbar>
    </div>
    <form>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon " id="basic-addon1" >Search</span>
                <input type="text" class="form-control" placeholder="Enter NIC" aria-describedby="basic-addon1" ng-model="searchFish">
            </div>
        </div>
    </form>

    <div class="panel panel-primary">
        <div class="panel-heading">Prescriptions</div>
        <table class="table table-bordered table-striped">

            <thead>
            </thead>
                <th>
                   Patient Name
                </th>
                <th>
                    NIC
                </th>
                <th>
                </th>
            <tbody>
            <tbody>
            <tr ng-repeat="b in issuedPrescriptions | orderBy:sortType:sortReverse | filter:searchFish"  >
                <td>{{b.name}}</td>
                <td>{{b.patientnic}}</td>
                <!--<td ><button type="button" class="btn btn-success center-block" ng-click="sendPrescriptionDetails(b._id,b.patientnic)">Issue Drugs</button></td>-->
                <td><a href="#!/issueDrugs/{{b._id}}/{{b.patientnic}}" class="btn btn-success center-block">Issue Drugs</a></td>

            </tr>
            </tbody>
            </tbody>

        </table>


</div>
</div>