<div class="container" ng-init="getPrescriptions()">
    <div class="page-header">
        <h4>Recently Issued Prescriptions<span class="btn btn-danger pull-right" ng-click="logout()">Logout</span></h4>
    </div>
    <div class="row">
    <span class="btn btn-success pull-right" ng-click="addPresc()">Add Prescription</span>
    </div>
    <hr>
    
    <div class="col-md-12">
        <div class="col-md-3" ng-repeat="prescription in prescriptions">
            <div class="panel panel-success">
                <div class="panel-heading"><strong><h5>{{prescription.patientnic}}</h5></strong></div>
                <div class="panel-body" style="height:160px">
                    <label> <h6><b>Name: {{prescription.name}}</b></h6></label>
                    <label> <h6><b>Date:</b> {{prescription.date}}</h6></label>
                    <label> <h6><b>Doctor:</b> {{prescription.doctorname}}: <b>{{prescription.doctorid}}</b></h6></label>
                </div>
                <div class="panel-footer"><a class="btn btn-primary " href="#!/prescriptions/details/{{prescription._id}}">View More</a></div>
            </div>
        </div>
    </div>

</div>